* {
    margin: 2px;
}

body {
    height: 100vh;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.background {
    /* z-index: -1; */
    height: 717px;
    width: 1215px; 
    top: 10vh;
    left: 18.5vw;
    position: absolute;
    background-repeat: no-repeat;
    /* pointer-events: none; */
    border-radius: 50px;
    background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Gragas_0.jpg');
    transition: all 1s ease-in-out;
}

#background-0 {
    z-index: -2;
}

#background-1 {
    z-index: -1;
}

#container {
    height: 100px;
    margin: 25px auto;
    width: 270px;
}

label {
    display: inline-block;
    width: 30%;
}

#region-selector {
    width: 63.5%;
}

button {
    width: 100%;
    margin: auto;
}

input[type="text"] {
    width: 62%;
}